<div class="row">
  <div class="col-md-4" *ngIf="userId;else noUserObj">
    <div class="card">
      <div class="card-header">
        <h2>{{ userObj.userName }}</h2>
      </div>
      <div class="card-body">
        The User role of User is {{ userObj.userRole }}
      </div>
      <div class="card-footer">
        <button routerLink="edit" class="btn btn-outline-info btn-sm">
          Edit
        </button>
        <button (click)="removeUserOnClick()" class="btn btn-outline-danger btn-sm ml-5">Remove</button>
      </div>
    </div>
  </div>
<ng-template #noUserObj>
  <p class="alert alert-info col-12">
    No Product Information
  </p>
</ng-template>
</div>

<!-- <button [routerLink]="['/users', 'U1006']" class="btn btn-outline-info">
  Load Info of David
</button> -->

<!-- 
baseUrl/users/123
baseUrl/users/123/125
-->
